body {
  margin: 0 auto;
  font-family: 'ABeeZee', sans-serif;
  min-width: 350px;
}

header {
  padding: 0 10%;
  margin: 0 auto;

  width: 80%;
  max-width: 800px;
  background-color: white;
  
  position: fixed;
  z-index: 2;
}

.title{
  margin: 2em 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

header p {
  margin: .27em;
  font-size: 1.6em;
  font-weight: bold;
}

main {
  margin: 0 auto;
  padding: 1em 11%;
  max-width: 700px;
  position: relative;
  top: 7em;
}



h1 {
  margin: 0;
	padding-bottom: 0;
	font-size: 3em;
}

h2{
  font-size: 1.3em;
  margin: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

nav {
	margin: .7em auto;
	padding: .2em;
	background: 100vw black;
  text-align: right;
  max-width: 800px;
}

nav ul {
  margin: 0;
  padding: 0;
}

section {
	margin-top: 2em;
}

#summary p {
  padding-left: 2.4em;
  max-width: 600px;
}

 #tech-skills ul {
  margin-bottom: .2em;
  padding-left: 3.4em;
  max-width: 600px;
 }

dl {
	font-weight: bolder;
	margin: auto;
	padding: 1em 2.4em;
	display: inline-block;
}

dt {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: .5em;
}

dd {
  font-weight: normal;
  margin-bottom: .2em;
}

dd ul {
  margin-top: .2em;
}

nav li {
	display: inline;
	padding: 1em;
} 

a {
	text-decoration: none;
	color:  #00B7C2;
}

a:hover {
	color: #EBAC5C;
}

footer {
  width: 100%;
  background-color: black;
  position: relative;
  top: 7em;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 2em 2em 4em;
  margin:0 auto;
  color: #efefef;

  height: 12em;
  max-width: 600px;
}

img {
  padding-right: 1em;
  margin-top: 2em;

	float: left;
  height: 100%;

  border: 12px solid #efefef;
  border-radius: 2px;
}

address {
	padding-left: 4em;
}

footer dd {
	display: inline;
}


/* ==== MEDIA @ 900px ====================== */

@media (max-width: 900px){

  .title {
    flex-direction: column;
    align-items: flex-start;

  }

  main, footer {
    top: 10em;
  }

}

/* ==== MEDIA @ 532px ========================= */

@media (max-width: 532px){

  header {
    padding: 0 3%;
    width: 94%;
  }

  main, footer {
    top: 11em;
  }

  #summary {
    margin-top: 0;
  }

  address {
    padding-left: 1em;
  }

}


/* ==== MEDIA @ 420px ======================= */

@media(max-width: 450px){

    header {
    padding: 0 3%;
    width: 94%;
    display: flex;
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  h1{
    font-size: 2.4em;
  }

  header p{
    font-size: 1.4em;
  }

  nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

  nav li {
    display: flex;
    flex-direction: row;
    padding:0;
  }

  #tech-skills ul{
    padding-left: 1em;
  }

  main dl, main dd {
    padding-left: 0;
    padding-right: 0;
    margin: .7em 0;
  }

  dt {
    font-size: 1em;
  }

  address {
    margin: 1em 0 2em;
    padding: 0
  }

  footer {
    height: 35em;
  }

  .footer {
    flex-wrap: wrap;
  }

}