body {
  margin: 0 auto;
  font-family: 'ABeeZee', sans-serif;
}

header {
  padding: 0 10%;
  max-width: 800px;
  background-color: white;
  margin: 0 auto;
}

.title{
  margin: 2em 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

header p {
  margin: .27em;
  font-size: 1.6em;
  font-weight: bold;
}

main {
  margin: 0 auto;
  padding: 1em 11%;
  max-width: 700px;
}

h1 {
  margin: 0;
	padding-bottom: 0;
	font-size: 3em;
}

h2{
  font-size: 1.3em;
  margin: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

nav {
	margin: .7em auto;
	padding: .2em;
	background: 100vw black;
  text-align: right;
  max-width: 800px;
}

nav ul {
  margin: 0;
}

section {
	margin-top: 2em;
}

#summary p {
  padding-left: 2.4em;
  max-width: 600px;
}

 #tech-skills ul {
  margin-bottom: .2em;
  padding-left: 3.4em;
  max-width: 600px;
 }

dl {
	font-weight: bolder;
	margin: auto;
	padding: 1em 2.4em;
	display: inline-block;
}

dt {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: .5em;
}

dd {
  font-weight: normal;
  margin-bottom: .2em;
}

dd ul {
  margin-top: .2em;
}

nav li {
	display: inline;
	padding: 1em;
} 

a {
	text-decoration: none;
	color:  #00B7C2;
}

a:hover {
	color: #EBAC5C;
}

footer {
  width: 100%;
  background-color: black;
}

.footer{
  margin:0 auto;
  color: white;
	padding: 2em 2em 4em;
  height: 12em;
  max-width: 600px;
}

img {
	padding-right: 1em;
	float: left;
	height: 100%;
}
address {
	padding-left: 8em;
}
footer dd {
	display: inline;
}
